
/*---------------------------------------------------Sidebar-----------------------------------------------------*/
.PrimarySidebarButton{
    -fx-background-color: #bacff8;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

/*--------------------------------------------Primary Toolbar & Footer--------------------------------------------*/
.PrimaryToolbar, .PrimaryFooter{
    -fx-background-color: #bacff8;
}

.PrimaryToolbar .label, .PrimaryFooter .label{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

/*--------------------------------------------------Menu Items-----------------------------------------------------*/
.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:focused {
    -fx-background-color: #252983;
}

.menu-item:focused .label {
    -fx-text-fill: #ffffff;
}

.context-menu {
    -fx-background-color: #bacff8;
}